#sitenav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  display: block;
  background-color: #eeeeee;
  border-bottom: 1px solid #a2a2a2;
  z-index: 100; }
  #sitenav ul {
    display: block;
    list-style: none;
    margin: 0; }
    #sitenav ul li {
      display: inline-block;
      padding: 0;
      margin: 0; }
      #sitenav ul li a {
        display: inline-block;
        padding: 10px 15px; }

#hackasoton-nav {
  height: 1px; }
  #hackasoton-nav div {
    width: 150px;
    margin-left: 20px;
    height: 25px;
    margin-top: -7px;
    background-image: url(../images/svc2uk-0.png);
    background-repeat: no-repeat;
    background-size: contain; }

#fot-logo {
  height: 1px; }
  #fot-logo div {
    margin-left: 30px;
    width: 25px;
    height: 25px;
    margin-top: -7px;
    background-image: url(../images/fotlogo-transp.png);
    background-repeat: no-repeat;
    background-size: contain; }

#apply-button {
  border: 1px solid #89011e;
  color: white;
  border-radius: 0;
  box-shadow: inset 0 1px 0px #e00606, 0 2px 2px #efdce2;
  text-shadow: 0px -1px 0px rgba(100, 100, 100, 0.5);
  background: #890111;
  padding: 12px 24px;
  margin: 5px;
  cursor: pointer;
  outline: 0 none;
  float: right;
  padding: 3px 10px; }
  #apply-button:hover {
    background: #990000;
    outline: 0 none; }
  #apply-button:active {
    outline: 0 none !important;
    background: maroon; }
  #apply-button:focus {
    outline: thin #333333; }
  #apply-button::-moz-focus-inner {
    outline: 0 none !important; }

body {
  padding-top: 737px; }

#hackasoton {
  height: 700px;
  width: 100%;
  position: fixed;
  z-index: 0;
  padding-top: 37px;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 0;
  background: url(../wallpapers/beerinclude.jpg) no-repeat;
  background-size: cover;
  background-position: center; }

#hackasoton-logo {
  font-size: 7em;
  margin: auto auto;
  margin-top: 130px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
  word-spacing: -0.2em;
  font-family: "Akashi";
  display: block;
  padding: 0px; }

#hackasoton-buttons {
  width: 100%;
  text-align: center;
  height: 40px;
  margin: 50px 0 0 0; }
  #hackasoton-buttons a {
    border: 1px solid #89011e;
    color: white;
    border-radius: 0px;
    box-shadow: inset 0 1px 0px #e00606, 0 2px 2px black;
    text-shadow: 0px -1px 0px rgba(100, 100, 100, 0.5);
    background: #890111;
    padding: 12px 24px;
    margin: 5px;
    cursor: pointer;
    outline: 0 none; }
    #hackasoton-buttons a:hover {
      background: #990000;
      outline: 0 none; }
    #hackasoton-buttons a:active {
      outline: 0 none !important;
      background: maroon; }
    #hackasoton-buttons a:focus {
      outline: thin #333333; }
    #hackasoton-buttons a::-moz-focus-inner {
      outline: 0 none !important; }

#hackasoton-slogan {
  font-family: "NexaBold";
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: auto auto;
  padding: 5px 0px 5px 0px;
  width: 80%;
  text-align: center;
  font-size: 1.3em;
  color: white; }

#hackasoton-year {
  position: absolute;
  bottom: 20px;
  right: 60px;
  font-family: "Akashi";
  font-size: 12em;
  color: white; }

#hackasoton-month {
  position: absolute;
  bottom: 200px;
  right: 30px;
  font-family: "Akashi";
  font-size: 4em;
  color: white; }

@media screen and (max-width: 990px) {
  #hackasoton-year {
    position: absolute;
    top: 100px;
    right: 60px;
    font-family: "Akashi";
    font-size: 4em;
    color: white; }

  #hackasoton-month {
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: "Akashi";
    font-size: 4em;
    color: white; } }
#event {
  -webkit-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.8);
  -moz-box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.8);
  box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.8); }
  #event p {
    z-index: 2;
    position: relative;
    -moz-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -webkit-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    -o-text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4); }

#svc2uk-video {
  float: right;
  padding: 10px 10px 10px 10px;
  margin-top: -20px;
  top: 50%;
  right: 30px;
  width: 300px;
  height: 230px; }

#photos {
  overflow: hidden;
  height: 180px;
  border-style: solid;
  border-width: 3px 0px 3px 0px;
  background: transparent;
  padding: 5px 0px;
  margin: 0;
  z-index: 0;
  background: transparent;
  text-align: center; }

#photos-wrapper {
  width: 2100px; }
  #photos-wrapper img {
    height: 170px;
    padding: 0px 5px;
    margin: 5px 0 0 0; }

#past-events {
  margin-top: 40px;
  margin-bottom: -10px;
  padding-left: 150px; }

#speakers {
  padding: 50px 0px 200px;
  background: white;
  margin-left: auto;
  marin-right: auto;
  display: blocks; }
  #speakers h1 {
    margin-top: 0; }

.speaker-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  width: 100%;
  position: relative;
  height: 280px; }

.speaker-left {
  width: 50%;
  height: 100%;
  float: left; }
  .speaker-left iframe {
    width: 460px;
    height: 255px; }

.speaker-right {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0px;
  width: 400px; }

.speaker {
  text-align: center;
  margin-bottom: 50px;
  position: relative; }
  .speaker img {
    width: 200px;
    height: 200px;
    border-radius: 105px;
    border: 5px solid transparent;
    position: relative;
    z-index: 5; }
  .speaker div {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 15;
    background: #f3f3f3;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #128acd; }
    .speaker div .trian {
      left: 50%;
      margin-left: -10px;
      position: absolute;
      top: -10px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #128acd transparent; }
  .speaker h2 {
    color: #990000;
    font-weight: 100;
    margin-bottom: 0px; }
  .speaker h4 {
    margin: 0px;
    color: #999999;
    font-size: 0.8em;
    text-transform: uppercase; }
  .speaker nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    text-align: right; }
    .speaker nav a {
      display: block;
      padding: 10px 5px 10px 20px;
      font-size: 0.8em;
      text-decoration: none; }
      .speaker nav a:hover {
        background-color: #128acd;
        color: white; }
    .speaker nav a:last-child {
      border-bottom: 0px; }
  .speaker:hover img {
    border: 5px solid #128acd; }
  .speaker:hover div {
    display: block; }
  .speaker:hover nav {
    display: inline-block; }

#judges {
  padding: 50px 0px;
  background: white; }
  #judges h1 {
    margin-top: 0; }

.judge {
  width: 33.33333%;
  min-width: 100px;
  float: left;
  display: block;
  text-align: center;
  margin-bottom: 50px;
  position: relative; }
  .judge img {
    width: 200px;
    height: 200px;
    border-radius: 105px;
    border: 5px solid transparent;
    position: relative;
    z-index: 5; }
  .judge div {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 15;
    background: #f3f3f3;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #128acd; }
    .judge div .trian {
      left: 50%;
      margin-left: -10px;
      position: absolute;
      top: -10px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent #128acd transparent; }
  .judge h2 {
    color: #990000;
    font-weight: 100;
    margin-bottom: 0px; }
  .judge h4 {
    margin: 0px;
    color: #999999;
    font-size: 0.8em;
    text-transform: uppercase; }
  .judge nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    text-align: right; }
    .judge nav a {
      display: block;
      padding: 10px 5px 10px 20px;
      font-size: 0.8em;
      text-decoration: none; }
      .judge nav a:hover {
        background-color: #128acd;
        color: white; }
    .judge nav a:last-child {
      border-bottom: 0px; }
  .judge:hover img {
    border: 5px solid #128acd; }
  .judge:hover div {
    display: block; }
  .judge:hover nav {
    display: inline-block; }

.organizer {
  float: left;
  width: 33.33333%;
  display: block;
  margin: 30px 0;
  text-align: center; }
  .organizer img {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    position: relative; }
  .organizer h2 {
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 0; }
  .organizer ul {
    display: block;
    margin: 20px 0px;
    padding: 0px 5%;
    list-style: none; }
  .organizer li {
    color: #4d4d4d;
    padding: 10px 0px;
    text-align: justify; }

#prizes {
  -webkit-box-shadow: 0px 0px 30px #1e1e1e;
  -moz-box-shadow: 0px 0px 30px #1e1e1e;
  box-shadow: 0px 0px 30px #1e1e1e; }

.prize {
  width: 33.33333%;
  float: left; }
  .prize h2 {
    font-weight: normal;
    text-align: center;
    color: #128acd; }
    .prize h2 span {
      display: block;
      font-size: 0.65em;
      color: #666666; }
  .prize ul {
    display: block;
    margin: 20px 0px;
    padding: 0px 5%;
    list-style: none; }
  .prize li {
    color: #4d4d4d;
    padding: 10px 0px;
    text-align: justify; }

.first-place {
  margin-top: 0px; }
  .first-place h2 {
    font-size: 4.5em; }
  .first-place ul li {
    text-align: center; }

.second-place, .third-place {
  margin-top: 60px; }
  .second-place h2, .third-place h2 {
    font-size: 3em; }
  .second-place ul li, .third-place ul li {
    text-align: center; }

.prizetbl {
  width: 100%;
  font-weight: normal;
  font-size: 1.2em; }
  .prizetbl tr {
    border-top: 1px solid #eeeeee; }
    .prizetbl tr:first-child {
      border-top: none; }
    .prizetbl tr:hover {
      background: #eeeeee; }
  .prizetbl td {
    width: 50%;
    padding: 20px; }
    .prizetbl td:first-child {
      text-align: right;
      font-weight: bold;
      font-size: 1.5em; }

#individual-title {
  background: white;
  padding: 0px 0px 0px 0px;
  width: 100%;
  position: relative;
  overflow: hidden; }
  #individual-title div {
    margin: auto auto;
    width: 500px;
    text-align: center;
    height: 150px;
    background: white;
    font-family: "Akashi";
    font-size: 3em;
    line-height: 150px; }
  #individual-title img {
    position: absolute;
    width: 400px;
    z-index: -100; }
  #individual-title #left-image {
    top: 0px;
    left: 0; }
  #individual-title #right-image {
    right: 0;
    top: -100px; }

.day {
  width: 33.33333%;
  min-width: 320px;
  float: left;
  overflow: hidden;
  padding-top: 20px; }

.date {
  width: 100%;
  height: 80px;
  padding-bottom: 30px;
  zoom: 1; }
  .date:before, .date:after {
    content: "";
    display: table; }
  .date:after {
    clear: both; }
  .date > div {
    float: left; }

.schedule-dow {
  padding: 5px 5px 5px 5px;
  font-size: 3.5em; }

.day-month {
  margin-left: 20px;
  width: 60px;
  height: 80px;
  text-align: center; }

.schedule-month {
  font-size: 1.6em; }

.schedule-day {
  font-size: 2.3em; }

.schedule-entry {
  zoom: 1;
  margin: 5px 10px 0 0;
  border-radius: 4px; }
  .schedule-entry:before, .schedule-entry:after {
    content: "";
    display: table; }
  .schedule-entry:after {
    clear: both; }
  .schedule-entry:hover {
    background: #e2f3fc;
    -webkit-transform: scale(1.1);
    margin-left: 20px; }
  .schedule-entry div {
    float: left;
    padding: 7px 10px; }
  .schedule-entry div:first-child {
    border-radius: 4px;
    background: #128acd;
    width: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold; }

#android-wrapper {
  position: absolute;
  top: -50px;
  opacity: 0.4;
  left: 50px;
  z-index: 1; }

.android {
  position: relative;
  -webkit-transform: scale(0.7) rotate(3deg);
  width: 200px;
  height: 290px;
  margin: 80px auto;
  background: #128acd;
  border-radius: 200px 200px 50px 50px;
  -webkit-transition: all 0.25s ease-out; }

.android-active {
  -webkit-transform: scale(1) rotate(10deg);
  -webkit-filter: blur(3px); }

.android:after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 8px;
  top: 95px;
  background: white; }

.android .eyes:after {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 35px;
  left: 50px;
  background: white;
  border-radius: 15px; }

.android .eyes:before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 35px;
  left: 50px;
  background: white;
  border-radius: 15px; }

.android .eyes:after {
  left: auto;
  right: 50px; }

.android:hover .eyes:after {
  height: 3px;
  top: 43px; }

.android:hover .eyes:before {
  height: 3px;
  top: 43px; }

.android .ants:after {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 40px;
  top: -25px;
  left: 50px;
  background: #128acd;
  border-radius: 5px;
  -webkit-transform: rotate(-25deg); }

.android .ants:before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 40px;
  top: -25px;
  left: 50px;
  background: #128acd;
  border-radius: 5px;
  -webkit-transform: rotate(-25deg); }

.android .ants:after {
  left: auto;
  right: 50px;
  -webkit-transform: rotate(25deg); }

.android .hands:after {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 150px;
  top: 96px;
  left: -52px;
  background: #128acd;
  border-radius: 44px; }

.android .hands:before {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 150px;
  top: 96px;
  left: -52px;
  background: #128acd;
  border-radius: 44px; }

.android .hands:after {
  left: auto;
  right: -52px; }

.android .legs:after {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 90px;
  bottom: -70px;
  left: 40px;
  background: #128acd;
  border-radius: 44px; }

.android .legs:before {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 90px;
  bottom: -70px;
  left: 40px;
  background: #128acd;
  border-radius: 44px; }

.android .legs:after {
  left: auto;
  right: 40px; }

#partners, #golden-sponsors {
  margin: 120px 0; }

.main-sponsor img {
  width: 70%;
  display: block;
  margin: 0 auto; }

.sponsor {
  width: 47%;
  float: left;
  height: 250px;
  margin-bottom: 30px;
  text-align: center; }
  .sponsor p {
    text-align: left; }
  .sponsor a {
    text-align: center;
    display: inline-block; }
  .sponsor img {
    max-width: 100%;
    max-height: 250px; }
  .sponsor:nth-child(2n+1) {
    margin-right: 6%; }

.sponsor-leftimg {
  zoom: 1; }
  .sponsor-leftimg:before, .sponsor-leftimg:after {
    content: "";
    display: table; }
  .sponsor-leftimg:after {
    clear: both; }
  .sponsor-leftimg a {
    text-align: left;
    display: block;
    float: left;
    width: 40%; }
  .sponsor-leftimg p {
    display: block;
    width: auto;
    overflow: hidden; }

#location_map {
  width: 100%;
  height: 350px; }

.share {
  position: absolute;
  top: 10px;
  left: 5px; }

a.twitter {
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d9d9d9));
  background-image: -moz-linear-gradient(top, #f8f8f8, #d9d9d9);
  background-image: -o-linear-gradient(top, #f8f8f8, #d9d9d9);
  background-image: -ms-linear-gradient(top, #f8f8f8, #d9d9d9);
  background-image: linear-gradient(top, #f8f8f8, #d9d9d9);
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  color: #333333;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  line-height: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  padding: 2px 6px 2px 6px;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.49609) 0px 1px 0px;
  vertical-align: top; }
  a.twitter:before {
    content: "\f202";
    font-family: "Genericons";
    color: #00aced;
    padding-right: 5px;
    line-height: 15px;
    font-weight: normal;
    vertical-align: top; }
  a.twitter:focus, a.twitter:hover {
    border-color: #bbbbbb;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d9d9d9));
    background-image: -moz-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: -o-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: -ms-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: linear-gradient(top, #f8f8f8, #d9d9d9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  a.twitter:active {
    border-color: #bbbbbb;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d9d9d9));
    background-image: -moz-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: -o-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: -ms-linear-gradient(top, #f8f8f8, #d9d9d9);
    background-image: linear-gradient(top, #f8f8f8, #d9d9d9);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #efefef;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1); }
a.facebook {
  background: #eceef5;
  -webkit-border-radius: 3px;
  border: 1px solid #cad4e7;
  cursor: pointer;
  padding: 3px 4px 4px 3px;
  white-space: nowrap;
  color: #3b5998;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
  vertical-align: top;
  margin-left: 10px; }
  a.facebook:before {
    content: "\f203";
    font-family: "Genericons";
    padding-right: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    vertical-align: top; }
  a.facebook:hover {
    border-color: #9dacce; }
a.googleplus {
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #d9d9d9);
  background-image: -moz-linear-gradient(top, #f3f3f3, #d9d9d9);
  background-image: -o-linear-gradient(top, #f3f3f3, #d9d9d9);
  background-image: -ms-linear-gradient(top, #f3f3f3, #d9d9d9);
  background-image: linear-gradient(top, #f3f3f3, #d9d9d9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f3f3', EndColorStr='#d9d9d9');
  border: 1px solid #cbcbcb;
  color: #da573c;
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  padding: 3px 2px 1px 1px;
  vertical-align: top;
  margin-left: 10px; }
  a.googleplus:before {
    content: "\f206";
    font-family: "Genericons";
    padding-right: 4px;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    vertical-align: top; }
  a.googleplus:hover {
    background-color: #f7f7f7;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#f7f7f7), to(white));
    background-image: -webkit-radial-gradient(50% 50%, white, #f7f7f7);
    background-image: -moz-radial-gradient(50% 50%, white, #f7f7f7);
    background-image: -o-radial-gradient(50% 50%, white, #f7f7f7);
    background-image: -ms-radial-gradient(50% 50%, white, #f7f7f7);
    background-image: radial-gradient(50% 50%, white, #f7f7f7); }
a.flattr {
  background-color: #92bd5e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#92bd5e), to(#88b058));
  background-image: -webkit-linear-gradient(top, #92bd5e, #88b058);
  background-image: -moz-linear-gradient(top, #92bd5e, #88b058);
  background-image: -o-linear-gradient(top, #92bd5e, #88b058);
  background-image: -ms-linear-gradient(top, #92bd5e, #88b058);
  background-image: linear-gradient(top, #92bd5e, #88b058);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#92bd5e', EndColorStr='#88b058');
  border: 1px solid #7ea352;
  color: white;
  text-decoration: none;
  padding: 3px 10px 2px 10px;
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  vertical-align: top;
  margin-left: 10px; }
  a.flattr:hover {
    background-color: #f59425;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f59425), to(#e88c23));
    background-image: -webkit-linear-gradient(top, #f59425, #e88c23);
    background-image: -moz-linear-gradient(top, #f59425, #e88c23);
    background-image: -o-linear-gradient(top, #f59425, #e88c23);
    background-image: -ms-linear-gradient(top, #f59425, #e88c23);
    background-image: linear-gradient(top, #f59425, #e88c23);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f59425', EndColorStr='#e88c23');
    border: 1px solid #db8421; }

@font-face {
  font-family: Akashi;
  src: url(fonts/akashi.ttf); }

@font-face {
  font-family: NexaBold;
  src: url(fonts/NexaBold.otf); }

body {
  margin: 0px;
  font-family: Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: "NexaBold"; }

a {
  color: #0099cc;
  text-decoration: none; }
  a:hover {
    color: #004d66; }
  a:focus {
    color: #004d66; }

article {
  position: relative;
  z-index: 10;
  padding: 67px 0px 30px 0px;
  background-color: white;
  width: 100%;
  zoom: 1; }
  article:before, article:after {
    content: "";
    display: table; }
  article:after {
    clear: both; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  zoom: 1; }
  .wrapper:before, .wrapper:after {
    content: "";
    display: table; }
  .wrapper:after {
    clear: both; }

article h1 {
  font-family: "Akashi";
  font-size: 3em;
  text-align: center;
  font-weight: normal; }

.column-3 {
  width: 33.33333%;
  min-width: 100px;
  float: left;
  display: block; }

.column-5 {
  width: 20%;
  min-width: 100px;
  float: left;
  display: block; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }
